<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>18/10/28 15:22:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.LoginPage(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">LoginPage</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/28 15:23:53</td>   <td>62650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.LoginPage(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">LoginPage</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>18/10/28 15:22:39</td>   <td>-12050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reports.beforeMethod()[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>18/10/28 15:23:41</td>   <td>50379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reports.beforeMethod()[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/10/28 15:23:39</td>   <td>48302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/10/28 15:24:46</td>   <td>114996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>18/10/28 15:24:47</td>   <td>116323</td> <td title="&lt;&lt;Reports.endResult()[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">&lt;&lt;endResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/10/28 15:22:39</td>   <td>-12035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/10/28 15:23:41</td>   <td>50379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/28 15:22:38</td>   <td>-12907</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>18/10/28 15:22:37</td>   <td>-13203</td> <td title="&gt;&gt;Reports.startResult()[pri:0, instance:testcases.TC001_CreateLead@3327bd23]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
</table>
