<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7161c7">  <td>18/10/20 19:51:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;projectMethod.close()[pri:0, instance:week6.classroom1.TC003_Merge_Lead@2038ae61]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/20 19:51:29</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_Delete_Lead.deleteLead()[pri:0, instance:week6.classroom1.TC004_Delete_Lead@3c0f93f1]">deleteLead</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/20 19:51:29</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_Merge_Lead.login()[pri:0, instance:week6.classroom1.TC003_Merge_Lead@2038ae61]">login</td> 
  <td>main@841283083</td>   <td></td> </tr>
</table>
