<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteLogin</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dabbc">  <td>18/10/13 11:40:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003.login()[pri:0, instance:week5.classroom1.TC003@3c0f93f1]">login</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/10/13 11:40:16</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004.login()[pri:0, instance:week5.classroom1.TC004@31dc339b]">login</td> 
  <td>main@520016214</td>   <td></td> </tr>
</table>
